{{> nav-bar}}

<div class="flex flex-col mb-12 mx-10">
    <p class="font-semibold text-4xl text-slate-800 uppercase tracking-normals">{{this.empname}}</p>
    <p class="font-semibold text-xl text-slate-800 mt-4">Employee's Personal Attendance Record History</p>
</div>

<div class="overflow-x-auto relative mx-10">
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class=" text-left text-xs text-gray-300 uppercase bg-slate-700"
    >
      <tr>
        <th scope="col" class="py-3 px-6">
          Employee ID
        </th>
        <th scope="col" class="py-3 px-6">
          Attendance Type
        </th>
        <th scope="col" class="py-3 px-6">
          Date &amp; Time
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr class="bg-white border-b text-left">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
        >
          {{this.employeeID}}
        </th>
        <td class="py-4 px-6">
          {{this.attendance_type}}
        </td>
        <td class="py-4 px-6">
          {{this.datein}} {{this.timein}}
        </td>
      </tr>
  {{/each}}
    </tbody>
  </table>
</div>