
{{!-- TOPBAR --}}
  <div class="drop-shadow-lg flex fixed h-16 inset-x-0 top-0 bg-slate-900 place-content-between">
    <div class="flex">
      <i class="bi bi-basket2-fill text-white place-self-center pl-3 pr-1 text-2xl"></i>
      <span class="block">
        <h5 class="px-2 pt-1 text-sky-700 font-semibold">POS Software</h5>
        {{#each transaction_num}} 
        <h5 class="px-2 text-white">Transaction# {{this.order_trans_id}} | {{this.emp_firstname}} {{this.emp_lastname}} | Admin</h5>
        {{/each}}
      </span>
    </div>
    {{#each total}}
    <div class="p-4 place-self-center">
      <span class="text-green text-green-500 text-4xl">₱{{total}}</span>
    </div>
     {{/each}}

  </div>

<form class="" method="POST" action="/POSPage" novalidate>
{{#if alert2}}
<div class="alert alert-success alert-dismissible fade show" role="alert" ng-show="show_alert">
  {{alert2}}   
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>

{{/if}}
  {{!-- CENTER DIV --}}
    <div class="fixed left-0 inset-x-0">
    <span class="block p-4 text-sm">
    </span>

    <div class="fixed container w-full">
       <table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr class="">
      <th scope="col">Item ID</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Category</th>
      <th scope="col">Price</th>
      <th scope="col" class="col-1">Available Stock</th>
      <th scope="col">Qty</th>
      <th scope="col">Total</th>
      <th scope="col" class="text-end col-2">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <form class="row g-3 needs-validation" method="POST" action="/OrderEntry" novalidate>


    <tr>


      <td >{{this.item_id}}</td>
      <td>{{this.item_name}}</td>
      <td>{{this.category_name}}</td>
      <td>{{this.final_price}}</td>
      <td>{{this.old_stock}}</td>
      <td>{{this.new_stock_added}}</td>
      <td>{{this.total}}</td>
      <td class="text-end">
         <a href="/POSPage/minus/{{this.item_id}}" type="button"  class="btn btn-secondary btn-small"><i class="bi bi-dash-lg"></i> </a>
        <a href="/POSPage/add/{{this.item_id}}" type="button"  class="btn btn-secondary btn-small" ><i class="bi bi-plus-lg"></i> </a>
       <a href="/POSPage/delete/{{this.item_id}}"  type="button"  class="btn btn-danger btn small" id = "dbtn"><i class="bi bi-trash-fill"></i></a>

      </td>

    </tr>
  {{/each}}

  </tbody>
</table>

    </div>
    
  </div>

  {{!-- SIDEBAR  --}}
  <div class="drop-shadow-lg fixed inset-y-0 right-0 w-1/6 h-full bg-gray-500 mt-16">
    {{!-- BUTTONS --}}

     <a href="/OrderEntry" class="nav-link active">
    <div class="pl-5 py-4 flex items-center duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-search"></i>
          <div class="text-[15px] ml-4 text-gray-200 font-medium">SEARCH PRODUCT</div>  
    </div>
    </a>
    
    <div class="pl-5 py-4 flex items-center duration-300 cursor-pointer hover:bg-blue-600 text-white" disabled>
        <i class="bi bi-cash-stack"></i>
        <button type="button" class="text-[15px] ml-4 text-gray-200 font-medium" >
          SETTLE PAYMENT
        </button>
    </div>
  <div class="pl-5 py-4 flex items-center duration-300 cursor-pointer hover:bg-blue-600 text-white" type="submit" >
        <i class="bi bi-printer"></i>
        <button type="submit" class="text-[15px] ml-4 text-gray-200 font-medium" >
          PRINT RECEIPT
        </button>
    </div>
     <a href="/POSPage/delete" class="nav-link active">
    <div class="pl-5 py-4 flex items-center duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-search"></i>
          <div class="text-[15px] ml-4 text-gray-200 font-medium">CLEAR CART</div>  
    </div>
    </a>
    <div class="pl-5 py-4 flex items-center duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-list-ul"></i>
        <a href="#" class="text-[15px] ml-4 text-gray-200 font-medium">SALES</a>
    </div>
    <a href="/home" class="nav-link active">
    <div class="pl-5 py-4 flex items-center duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-house"></i>
          <div class="text-[15px] ml-4 text-gray-200 font-medium">HOME</div>  
    </div>
    </a>
    <a href="/logout" class="nav-link active">
    <div class="pl-5 py-4 flex items-center duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-box-arrow-left"></i>
          <div class="text-[15px] ml-4 text-gray-200 font-medium">LOGOUT</div>  
    </div>
    </a>
  </div>
  {{!-- BOTTOMBAR --}}
  <div class="fixed flex bottom-0 left-0 h-48 w-10/12 bg-gray-400 place-content-between">
    <div class="block self-center">
      <span class="font-bold">
        <input type="text" class="p-2 pl-5 text-6xl" id="floatingInput" placeholder="₱000.00" name="received">
        <h1 class="p-2 pl-5">{{date}}</h1>
      </span>
    </div>
   
    <div class="flex pr-4 pt-1 place-content-between">
      <span class="block">
        <h5 class="p-1">SALES TOTAL</h5>
        <h6 class="p-1">VAT</h6>
        <h6 class="p-1">VATABLE</h6>
        <h5 class="p-1">AMOUNT RECEIVE</h5>
        <h5 class="p-1">AMOUNT CHANGE</h5>
      </span>
      <span class="block">
      
        {{#each total}}
        <h5 class="p-1 pl-28 font-bold">₱{{total}}</h5>
        {{/each}}
    {{#each transaction_num}}
        <h6 class="p-1 pl-28 font-bold">000.00</h6>
        <h6 class="p-1 pl-28 font-bold">000.00</h6>
        <h5 class="p-1 pl-28 font-bold">₱{{amount_received}}</h5>
        <h5 class="p-1 pl-28 font-bold">₱{{amount_change}}</h5>
      </span>
    </div>
  </div>
  {{/each}}

   <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Amount</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {{#each total}}
      <div class="modal-body">
      <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="" name="" value="{{total}}" disabled>
      <label for="floatingInput">Amount Total</label>
        </div>
        {{/each}}
   </form>
   <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="" name="" value="CASH" disabled>
      <label for="floatingInput">Mode of Payment</label>
        </div>
    <form class="row g-3 needs-validation" method="POST" action="/POSPage/rec" novalidate>

       <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="" name="received">
      <label for="floatingInput">Amount Received</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
       </form>

    </div>
  </div>
</div>


  
     

